[Desktop Entry]
Name = My-Weather-Indicator
GenericName = My-Weather-Indicator
Comment = A weather indicator
Exec = /opt/extras.ubuntu.com/my-weather-indicator/bin/my-weather-indicator
Icon = /opt/extras.ubuntu.com/my-weather-indicator/share/pixmaps/my-weather-indicator.png
Type = Application
Terminal = false
StartupNotify = true
Encoding = utf-8
Categories = Utility;
Name[pt] = My-Weather-Indicator
Name[uk] = My-Weather-Indicator
Name[ja] = お天気インジケーター
Name[is] = My-Weather-Indicator
Name[te] = My-Weather-Indicator
Name[lv] = Mans-Meteoroloģiskais-Indikātors
Name[sr] = Мој-показивач-времена
Name[eo] = My-Weather-Indicator
Name[en_GB] = My-Weather-Indicator
Name[gl] = My-Weather-Indicator
Name[fi] = Sääindikaattori
Name[sl] = My-Weather-Indicator
Name[vi] = Dự báo thời tiết
Name[eu] = My-Weather-Indicator
Name[be] = My-Weather-Indicator
Name[ta] = My-Weather-Indicator
Name[ml] = My-Weather-Indicator
Name[it] = My-Weather-Indicator
Name[hi] = मेरा मौसम सूचक
Name[cs] = My-Weather-Indicator
Name[he] = My-Weather-Indicator
Name[pl] = My-Weather-Indicator
Name[sv] = Min-Väder-Indikator
Name[pt_BR] = My-Weather-Indicator
Name[ro] = My-Weather-Indicator
Name[fr] = My-Weather-Indicator
Name[en_AU] = My-Weather-Indicator
Name[ca] = El meu indicador del clima
Name[nl] = My-Weather-Indicator
Name[ko] = 내 날씨 알리미
Name[tr] = Hava durumu göstergem
Name[ca@valencia] = My-Weather-Indicator
Name[lt] = Orų informacija
Name[ru] = My-Weather-Indicator
Name[sr@latin] = My-Weather-Indicator
Name[ar] = مؤشر الطقس
Name[es] = My-Weather-Indicator
Name[bg] = My-Weather-Indicator
Name[si] = මාගේ-කාලගුණ-දර්ශකය
Name[zh_TW] = My-Weather-Indicator
Name[sk] = My-Weather-Indicator
Name[ms] = Petunjuk Cuaca Saya
Name[et] = My-Weather-Indicator
Name[el] = My-Weather-Indicator
Name[ber] = My-Weather-Indicator
Name[hu] = My-Weather-Indicator
Name[en] = My-Weather-Indicator
Name[hr] = Moj indikator vremena
Name[zh_CN] = My-Weather-Indicator
Name[de] = My-Weather-Indicator
GenericName[pt] = My-Weather-Indicator
GenericName[uk] = My-Weather-Indicator
GenericName[ja] = お天気インジケーター
GenericName[is] = My-Weather-Indicator
GenericName[te] = My-Weather-Indicator
GenericName[lv] = Mans-Meteoroloģiskais-Indikātors
GenericName[sr] = Мој-показивач-времена
GenericName[eo] = My-Weather-Indicator
GenericName[en_GB] = My-Weather-Indicator
GenericName[gl] = My-Weather-Indicator
GenericName[fi] = Sääindikaattori
GenericName[sl] = My-Weather-Indicator
GenericName[vi] = Dự báo thời tiết
GenericName[eu] = My-Weather-Indicator
GenericName[be] = My-Weather-Indicator
GenericName[ta] = My-Weather-Indicator
GenericName[ml] = My-Weather-Indicator
GenericName[it] = My-Weather-Indicator
GenericName[hi] = मेरा मौसम सूचक
GenericName[cs] = My-Weather-Indicator
GenericName[he] = My-Weather-Indicator
GenericName[pl] = My-Weather-Indicator
GenericName[sv] = Min-Väder-Indikator
GenericName[pt_BR] = My-Weather-Indicator
GenericName[ro] = My-Weather-Indicator
GenericName[fr] = My-Weather-Indicator
GenericName[en_AU] = My-Weather-Indicator
GenericName[ca] = El meu indicador del clima
GenericName[nl] = My-Weather-Indicator
GenericName[ko] = 내 날씨 알리미
GenericName[tr] = Hava durumu göstergem
GenericName[ca@valencia] = My-Weather-Indicator
GenericName[lt] = Orų informacija
GenericName[ru] = My-Weather-Indicator
GenericName[sr@latin] = My-Weather-Indicator
GenericName[ar] = مؤشر الطقس
GenericName[es] = My-Weather-Indicator
GenericName[bg] = My-Weather-Indicator
GenericName[si] = මාගේ-කාලගුණ-දර්ශකය
GenericName[zh_TW] = My-Weather-Indicator
GenericName[sk] = My-Weather-Indicator
GenericName[ms] = Petunjuk Cuaca Saya
GenericName[et] = My-Weather-Indicator
GenericName[el] = My-Weather-Indicator
GenericName[ber] = My-Weather-Indicator
GenericName[hu] = My-Weather-Indicator
GenericName[en] = My-Weather-Indicator
GenericName[hr] = Moj indikator vremena
GenericName[zh_CN] = My-Weather-Indicator
GenericName[de] = My-Weather-Indicator
Comment[pt] = Um indicador do Estado do Tempo
Comment[uk] = Індикатор погоди
Comment[ja] = お天気インジケーター
Comment[is] = Veðurspá
Comment[te] = ఒక వాతావరణ సూచకం
Comment[lv] = Meteoroloģiskais indikators
Comment[sr] = Показивач времена
Comment[eo] = A weather indicator
Comment[en_GB] = A weather indicator
Comment[gl] = Un indicador do clima
Comment[fi] = Sääilmaisin
Comment[sl] = Prikazovalnik vremena
Comment[vi] = Một chỉ báo thời tiết
Comment[eu] = Eguraldiaren adierazle
Comment[be] = Індыкатар надвор'я
Comment[ta] = A weather indicator
Comment[ml] = A weather indicator
Comment[it] = Un indicatore meteo
Comment[hi] = एक मौसम सूचक
Comment[cs] = Indikátor počasí
Comment[he] = אינדיקטור מזג אוויר
Comment[pl] = Powiadomienie o pogodzie
Comment[sv] = En väderindikator
Comment[pt_BR] = Um Indicador Meteorológico
Comment[ro] = Un indicator de vreme
Comment[fr] = Un indicateur météo
Comment[en_AU] = A weather indicator
Comment[ca] = Un indicador del temps
Comment[nl] = Een weerindicator
Comment[ko] = 날씨 알리미
Comment[tr] = Hava durumu gösterge uygulaması
Comment[ca@valencia] = Un indicador del clima
Comment[lt] = Orų indikatorius bei prognozė
Comment[ru] = Индикатор погоды
Comment[sr@latin] = A weather indicator
Comment[ar] = مؤشر طقس
Comment[es] = Un indicador del clima
Comment[bg] = Индикатор за синоптична прогноза
Comment[si] = කාලගුණ දර්ශකයකි
Comment[zh_TW] = 天氣指示器
Comment[sk] = Indikátor počasia
Comment[ms] = Petunjuk ramalan cuaca
Comment[et] = Ilmaindikaator
Comment[el] = Δείκτης καιρού
Comment[ber] = A weather indicator
Comment[hu] = Időjárás jelző
Comment[en] = A weather indicator
Comment[hr] = Indikator vremena
Comment[zh_CN] = 天气指示器
Comment[de] = Eine Wetteranzeige
