[Desktop Entry]
Name = My-Weather-Indicator
GenericName = My-Weather-Indicator
Comment = A weather indicator
Exec = /opt/extras.ubuntu.com/my-weather-indicator/bin/my-weather-indicator
Icon = /opt/extras.ubuntu.com/my-weather-indicator/share/pixmaps/my-weather-indicator.png
Type = Application
Terminal = false
StartupNotify = true
Encoding = utf-8
Categories = Utility;
Name[nl] = My-Weather-Indicator
Name[it] = My-Weather-Indicator
Name[lt] = Mano orų pranešėjas
Name[en_GB] = My-Weather-Indicator
Name[fr] = My-Weather-Indicator
Name[es] = My-Weather-Indicator
Name[ro] = My-Weather-Indicator
Name[eu] = My-Weather-Indicator
Name[lv] = My-Weather-Indicator
Name[ber] = My-Weather-Indicator
Name[ja] = お天気インジケーター
Name[tr] = Hava durumu göstergem
Name[sv] = Min-Väder-Indikator
Name[sk] = My-Weather-Indicator
Name[ca@valencia] = My-Weather-Indicator
Name[uk] = My-Weather-Indicator
Name[de] = My-Weather-Indicator
Name[zh_CN] = My-Weather-Indicator
Name[bg] = My-Weather-Indicator
Name[sr@latin] = My-Weather-Indicator
Name[hr] = Moj indikator vremena
Name[pl] = My-Weather-Indicator
Name[hu] = My-Weather-Indicator
Name[ta] = My-Weather-Indicator
Name[si] = My-Weather-Indicator
Name[fi] = Sääindikaattori
Name[ar] = مؤشر الطقس
Name[et] = My-Weather-Indicator
Name[is] = My-Weather-Indicator
Name[sr] = My-Weather-Indicator
Name[gl] = My-Weather-Indicator
Name[cs] = My-Weather-Indicator
Name[pt_BR] = My-Weather-Indicator
Name[vi] = My-Weather-Indicator
Name[be] = My-Weather-Indicator
Name[zh_TW] = My-Weather-Indicator
Name[ca] = El meu indicador del clima
Name[te] = My-Weather-Indicator
Name[sl] = My-Weather-Indicator
Name[ru] = My-Weather-Indicator
Name[he] = My-Weather-Indicator
Name[ko] = 내 날씨 알리미
Name[el] = My-Weather-Indicator
Name[pt] = My-Weather-Indicator
Name[en] = My-Weather-Indicator
GenericName[nl] = My-Weather-Indicator
GenericName[it] = My-Weather-Indicator
GenericName[lt] = Mano orų pranešėjas
GenericName[en_GB] = My-Weather-Indicator
GenericName[fr] = My-Weather-Indicator
GenericName[es] = My-Weather-Indicator
GenericName[ro] = My-Weather-Indicator
GenericName[eu] = My-Weather-Indicator
GenericName[lv] = My-Weather-Indicator
GenericName[ber] = My-Weather-Indicator
GenericName[ja] = お天気インジケーター
GenericName[tr] = Hava durumu göstergem
GenericName[sv] = Min-Väder-Indikator
GenericName[sk] = My-Weather-Indicator
GenericName[ca@valencia] = My-Weather-Indicator
GenericName[uk] = My-Weather-Indicator
GenericName[de] = My-Weather-Indicator
GenericName[zh_CN] = My-Weather-Indicator
GenericName[bg] = My-Weather-Indicator
GenericName[sr@latin] = My-Weather-Indicator
GenericName[hr] = Moj indikator vremena
GenericName[pl] = My-Weather-Indicator
GenericName[hu] = My-Weather-Indicator
GenericName[ta] = My-Weather-Indicator
GenericName[si] = My-Weather-Indicator
GenericName[fi] = Sääindikaattori
GenericName[ar] = مؤشر الطقس
GenericName[et] = My-Weather-Indicator
GenericName[is] = My-Weather-Indicator
GenericName[sr] = My-Weather-Indicator
GenericName[gl] = My-Weather-Indicator
GenericName[cs] = My-Weather-Indicator
GenericName[pt_BR] = My-Weather-Indicator
GenericName[vi] = My-Weather-Indicator
GenericName[be] = My-Weather-Indicator
GenericName[zh_TW] = My-Weather-Indicator
GenericName[ca] = El meu indicador del clima
GenericName[te] = My-Weather-Indicator
GenericName[sl] = My-Weather-Indicator
GenericName[ru] = My-Weather-Indicator
GenericName[he] = My-Weather-Indicator
GenericName[ko] = 내 날씨 알리미
GenericName[el] = My-Weather-Indicator
GenericName[pt] = My-Weather-Indicator
GenericName[en] = My-Weather-Indicator
Comment[nl] = Een weerindicator
Comment[it] = Un indicatore meteo
Comment[lt] = Orų indikatorius bei prognozė
Comment[en_GB] = A weather indicator
Comment[fr] = Un indicateur météo
Comment[es] = Un indicador del clima
Comment[ro] = Un indicator de vreme
Comment[eu] = Eguraldiaren adierazle
Comment[lv] = Laika ziņu indikators
Comment[ber] = A weather indicator
Comment[ja] = お天気インジケーター
Comment[tr] = Hava durumu gösterge uygulaması
Comment[sv] = En väderindikator
Comment[sk] = Indikátor počasia
Comment[ca@valencia] = Un indicador del clima
Comment[uk] = Індикатор погоди
Comment[de] = Eine Wetter-Anzeige
Comment[zh_CN] = 天气指示器
Comment[bg] = Индикатор за времето
Comment[sr@latin] = A weather indicator
Comment[hr] = Indikator vremena
Comment[pl] = Powiadomienie o pogodzie
Comment[hu] = Időjárás jelző
Comment[ta] = A weather indicator
Comment[si] = A weather indicator
Comment[fi] = Sääilmaisin
Comment[ar] = مؤشر طقس
Comment[et] = Ilmaindikaator
Comment[is] = Veðurspá
Comment[sr] = Индикатор времена
Comment[gl] = Un indicador de clima
Comment[cs] = Indikátor počasí
Comment[pt_BR] = Um indicador de clima
Comment[vi] = Một chỉ báo thời tiết
Comment[be] = Індыкатар надвор'я
Comment[zh_TW] = A weather indicator
Comment[ca] = Un indicador del temps
Comment[te] = ఒక వాతావరణ సూచకం
Comment[sl] = Prikazovalnik vremena
Comment[ru] = Индикатор погоды
Comment[he] = A weather indicator
Comment[ko] = 날씨 알리미
Comment[el] = Δείκτης καιρού
Comment[pt] = Um indicador do Estado do Tempo
Comment[en] = A weather indicator
