#forecasti,
#forecast{
    padding: 10px;
}
#forecasti,
#forecast,
#mcw_current_month{
    border: 1px solid #c3c9d0;
}
#forecasti{
    color: #333;
    background-color: #F1E9CB;
}
#forecast{
    color: #333;
    background-color: #E1C6AC;
}
#mcw_other_month{
    background-color: #ddd;
    color: #888;
    border: 1px solid #c3c9d0;
}
#mcw_today{
    border: 2px solid #d00;
}
#mcw_full{
    background-color: #444;
    color: #fff;
    border: 1px solid #c3c9d0;
}
#mcw_med{
    background-color: #c3c9d0;
    border: 1px solid #c3c9d0;
}
window hdycolumn box list row combobox{
    padding-top: 10px;
    padding-bottom: 10px;
}
#sidewidget{
    padding: 10px;
}
window hdycolumn box list row{
    background-color: #f0f;
    padding: 2px 8px;
    margin: 0;
    border: 1px solid #c3c9d0;
    border-bottom: 0px;
    color: #2d2d34;
}
window hdycolumn box list row:hover{
    background-color: #e0e0e1;
}
window hdycolumn box list row:selected{
    background-color: #e0e0e1;
}
window hdycolumn box list row:last-child{
    border-bottom: 1px solid #c3c9d0;
}

window hdycolumn box list row separator {
    background-color: #c3c9d0;
}

#special{
    font-size: 14px;
    font-weight:bold;
    color: #403f38;
    margin-bottom: 8px;
}

#label:hover,
#label{
    color: rgba(1, 1, 1, 1);
}
#label:selected{
    color: rgba(0, 1, 0, 1);
}
#progressbar,
#button:hover,
#button {
    border-image: none;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-image: none;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    text-shadow: 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0);
}
#button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
